body {
  min-height: 2000px;
}
.jumbotron {
  padding: 5rem;
  background-color: #9ba4b5;
}
#home {
  padding: 4rem;
}
#aboutme {
  padding: 13rem;
}
#Skill {
  padding: 7rem;
  background-color: #9ba4b5;
}
#project {
  padding: 5rem;
}
